/* @tailwind base;
@tailwind components;
@tailwind utilities; */


@import "tailwindcss";


.bg-butter-yellow {
  background-color: #FDF6E3;
}

.bg-baby-blue {
  background-color: #BFDBFE;
}

.text-dark-brown {
  color: #5C4033;
}

.border-baby-blue {
  border-color: #BFDBFE;
}