/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import "tailwindcss";

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

html,body {
  height: 100%;
  width: 100%;
  font-family: Playfair Display;
}

.bg-butter-yellow {
  background-color: #FDF6E3;
}

.bg-baby-blue {
  background-color: #BFDBFE;
}

.text-dark-brown {
  color: #5C4033;
}

.border-baby-blue {
  border-color: #BFDBFE;
}